<!-- 
  Template for Admin Dashboard
  =====================================
  This template includes the following components:
  - Header
  - Admin Side Bar
  - Admin Navigation Bar
  - All Student's and User detail

  Example Use Case:
  This template can be used to display a list of contacts with their name, email, and mobile number.
-->

<%- include('../Include/Header.ejs' , title="Admin DashBoard") %>

<main class="flex">
    <%- include('../Include/AdminSideBar.ejs') %>
    <div class="admin-right flex flex-col">
        <%- include('../Include/AdminNavBar.ejs') %>
<h1>gad</h1>
    </div>

</main>