
<sidebar class="admin-sidebar">
   

    <a href="/admin">
        <i class="fa-solid fa-database"></i>
        <p>Dash Board</p>
    </a>
    

 
<a href="">
    <ion-icon name="mail-unread"></ion-icon>
    <p>Mail</p>
</a>


<a href="">
    <ion-icon name="newspaper"></ion-icon>
    <p>Notice</p>
</a>


<a href="">
    <i class="fa-solid fa-address-book"></i>
    <p class="text-center">Student Contact Info</p>
</a>

<a href="">
    <i class="fa-brands fa-cc-amazon-pay"></i>
    <p>Fee</p>
</a>




<a href="">
    <ion-icon name="person-add"></ion-icon>
    <p>New Admission</p>
</a>


<a href="">
    <ion-icon name="create"></ion-icon>
    <p>Edit Student</p>
</a>

<a href="/admin/albums">
    <ion-icon name="albums"></ion-icon>
    <p>Create Albums</p>
</a>


<a href="">
    <i class="fa-sharp fa-solid fa-upload"></i>
    <p>Upload Image</p>
</a>






<a href="/admin/contact/Inbox/">
    <i class="fa-solid fa-inbox"></i>
    <p class="text-center"> Contact Inbox</p>
</a>

<a href="">
    <ion-icon name="link"></ion-icon>
    <p class="text-center"> Contact Link</p>
</a>



</sidebar>