<nav>
    <div class="news-navigation">
      <div class="blur-left"></div>
      <div class="news-content"></div>
  
      <div class="blur-right"></div>
    </div>
  
    <div class="nav-about-school">
      <div class="nav-school-logo">
        <img src="/images/ciitm-logo.png" alt="" srcset="" />
      </div>
  
      <div class="nav-school-info">
        <div class="nav-school-name">
          <h1>Chhotanagpur IT & Management</h1>
        </div>
        <div class="nav-school-address">
          <h2>Suriya Road , Jharkhand </h2>
          <h2>Pin Code 57242</h2>
        </div>
      </div>
  
      <div class="nav-social-link-container">
  <div class="nav-social-link"></div>
      </div>
    </div>
  
  
  
    <div class="nav-menu">
      <ol class="nav-link-container">
        <li class="nav-link"><a href="/">Hero</a></li>
        <li class="nav-link"><a href="/about">About Us</a></li>
        <li class="nav-link">Admissions:</li>
        <li class="nav-link">Academics</li>
        <li class="nav-link">Student Life</li>
        <li class="nav-link"><a href="/contact">Contact Us</a></li>
      </ol>
  
      <div class="login-btn">
        <button>Login</button>
      </div>
    </div>
  
   
    
  </nav>

